{% extends 'base.html' %}
{% block content %}

<div class="container" style="margin-top:8%">
    <h1 class="mb-4 mt-4 text-center"><b>{{ cohort.name }}</b>
    <span> <i class="fas fa-heart"></i></span></h1>
    <br>
    <div class="card">        
        <div class="card-body">
            <h4 style="text-align:center"><b>Members</b></h4>
            <br>   
            <br>        
            <ul class="card-text ">
                {% for student in cohort.student.all %}

                <li> <a href = "{% url 'profile' student.user.id %}">{{ student.user.username }}</a></li>
                {% endfor %}

            </ul>
            <br>
        </div>
    </div>
</div>
{% endblock %}