{% extends 'base.html' %}
{%load bootstrap3 %}

{% block styles %}

{{block.super}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Heebo" rel="stylesheet">

{% endblock %}

{% block content %}

{{block.super}}

<main role="main">
    <div>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading" style="font-size:72px;" ><b>Project Tracker</b></h1>
                <br>
                <p class="lead text-muted"><i>A work in progress.</i></p>
                <br>
            </div>
        </section>
    </div>
</main>
<hr>
<br>

{% if user.is_authenticated%}

{% else %}

<div class="container text-center jumbotron">
    <div class="row container">
        <div class="col-1">
            <h2 style="color:rgb(116, 1, 1)"><b>Access Denied!</b></h2>
            <a href="{% url 'login' %}"><i>Please log in to access this site.</i></a>
        </div>
    </div>
</div>
<br>

{% endif %}


<br>
<hr>
<br>
<div class="container footer">
    <h6 style="text-align:center">
        <i><b>A Mugendi Test.</b></i>
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        <b>Project Tracker (2021).</b>
    </h6>
</div>


{% endblock %}

{% block scripts %}

{{block.super}}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>

{% endblock %}