<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Project Tracker</title>
</head>

<body>
<nav class="navbar navbar-inverse bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><b>Home</b>&nbsp;&nbsp;</a>

        {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'all_profiles' %}"><b>Students</b>&nbsp;&nbsp;</a>
        <a class="navbar-brand" href="{% url 'all_projects' %}"><b>Projects</b>&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a class="navbar-brand" href="{% url 'profile' user.id %}"><b>My Profile</b>&nbsp;&nbsp;&nbsp;&nbsp;</a>

        <a class="navbar-brand" href="{% url 'logout' %}"><b style="color:red">Logout</b></a>

        {% else %}
        <a class="navbar-brand" href="{% url 'registration_register' %}"><b>Register</b>&nbsp;&nbsp;</a>
        <a class="navbar-brand" href="{% url 'login' %}"><b>Login</b>&nbsp;&nbsp;&nbsp;&nbsp;</a>

        {% endif %}
        
    </div>
</nav>
</body>
</html>