<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrackerApp-Projects</title>
</head>
<body>
    <div class="container" id="container">
    <br>
    <br>
    <br>  
    <h1 style="text-align:center"><b> Fullstack Projects </b></h1>
    <hr>
    
    <div class="row">
      <div *ngFor="let project of projects" class="col-lg-4 d-flex align-items-stretch mx-auto">
        <div class="container">
            <br>
            <div class="card" style="width: 18rem; height: 30rem;">
                <div class="card-header d-flex">
                    <h3 style="text-align:center"><b>{{project.title}}</b></h3>
                </div>
                <div>
                        
                        <img src="https://res.cloudinary.com/daxszmc6m/{{project.project_image}}"  class="card-img-top">
                       
                        <div class="card-body">
                        
                            <p class="card-text" *ngIf="project.owner"><b>Owner:</b> {{project.owner.user}}</p>
                           
                            <p class="card-text" *ngIf="project.cohort"><b>Cohort:</b> {{project.cohort}}</p>
                            <p class="card-text" *ngIf="project.style"><b>Development Mode:</b> {{project.style}}</p>
                         
                            <p class="card-text" *ngIf="project.description"><b>Description:</b> {{project.description}}</p>
                          
                            <p  class="text-muted"><b>Date:</b> {{project.date}}</p>
                            
                          
                            <div *ngIf="project.members"><b>Project Members:</b>
                               
                                <ul>
                                  <li *ngFor= "let member of project.members">{{ member.user }}</li>
                                </ul>
                            </div> 
                            
                    </div>
                    <div class=" card-footer">
                        <div class="container">
                            <a class="btn btn-lg btn-outline-success btn-block" href="{{project.github_link}}" role="button">View Project</a>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    </div>
    

</body>
</html> 
