.nav-container {
    background-color: #464646;
}
.nav-container .nav {
    list-style: none;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: start;
}
.nav-container .nav .nav-item {
    display: inline-block;
    font-size: 18px;
    padding: 0px 10px;
    position: relative;
}
.nav-container .nav .nav-item .nav-link {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.2s linear;
    position: relative;
    overflow: hidden;
}
.nav-container .nav .nav-item .nav-link:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 20px;
    z-index: -10;
}
.nav-container .nav .nav-item .nav-link:not(.logo):hover {
    border: 1px solid #a5a5a5;
    transform: scale(1.1);
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.2);
}
.nav-container .nav .nav-item .nav-link:not(.logo):hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.nav-container .nav .nav-item .nav-link.logo:hover:after {
    left: 140%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.nav-container .hambergur-menu {
    display: none;
    width: 38px;
    height: 33px;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    float: right;
    margin-right: 20px;
}
.nav-container .hambergur-menu .bar {
    display: inline-block;
    width: 28px;
    height: 3px;
    background-color: #ccc;
    position: relative;
}
.nav-container .hambergur-menu .bar:after, .nav-container .hambergur-menu .bar:before {
    content: '';
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: #ccc;
    top: -8px;
    transition: all 0.5s linear;
}
.nav-container .hambergur-menu .bar:after {
    top: 8px;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    opacity: 0.9;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .fisrt-section {
    padding-top: 60px;
}
@media only screen and (max-width: 768px) {
    .nav-container {
        height: 50px;
        padding-top: 10px;
   }
    .nav-container .nav {
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
        background-color: rgba(70, 70, 70, 0.95);
        position: absolute;
        top: -100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 0.5s linear;
   }
    .nav-container .nav .nav-item {
        display: block;
   }
    .nav-container .nav.open {
        top: 0;
   }
    .nav-container .hambergur-menu {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 99999999;
   }
    .nav-container .hambergur-menu.close .bar {
        height: 0;
   }
    .nav-container .hambergur-menu.close .bar:after {
        top: -2px;
        transform: rotate(135deg);
   }
    .nav-container .hambergur-menu.close .bar:before {
        top: -2px;
        transform: rotate(45deg);
   }
}
.fisrt-section .container {
    background: #e8e8e8;
}
.fisrt-section .container .content {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}
.fisrt-section .container .content .title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: sans-serif;
}
.fisrt-section .container .content .subTitle {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #c68929;
}
.fisrt-section .container .content .box {
    width: 300px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 20px;
    background-color: #464646;
    color: #fff;
    padding: 10px 20px;
    border-top: 4px solid #c68929;
}
.fisrt-section .container .content .box h2 {
    border-bottom: 1px dashed #c68929;
    padding-bottom: 10px;
    margin-bottom: 10px;
}