 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <title>Tracker</title>
</head>
<body>
    
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <div class="container ">
      
        <ul class="nav  justify-content-start navbar-nav mr-auto navbar-tabs">
          
            <li class="nav-item" id="auth">
              <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
              </li> 
        </ul>
          
           
          
            <li class="nav-item mr-auto">
              <a class="nav-link active" aria-current="page" routerLink="/projects">Projects</a> 
              </li>
            
              <li class="nav-item" id="auth" *ngIf="!this.authService.isLoggedIn">
                <a class="nav-link active" aria-current="page" routerLink="/login">Login</a>
                </li>
                <li class="nav-item mr-auto" *ngIf="!this.authService.isLoggedIn">
                <a class="nav-link active" aria-current="page" routerLink="/signup">Sign up</a>
                </li> 
           
                <div  *ngIf="this.authService.isLoggedIn" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Features</a>
              <ul class="dropdown-menu">
                
                <li><hr class="dropdown-divider"></li>
            
            <li class="nav-item mr-auto dropdown-item">
            <a class="nav-link active" aria-current="page" routerLink="/profiles">Profiles</a>
            </li>
            <li><hr class="dropdown-divider "></li>
            <li class="nav-item mr-auto dropdown-item">
            <a class="nav-link active" aria-current="page" routerLink="/cohorts">Cohorts</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item mr-auto dropdown-item">
            <a class="nav-link active" aria-current="page" routerLink="/styles">Technology</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item mr-auto dropdown-item">
            <a class="nav-link active" aria-current="page" routerLink="/profile">My Profile</a>
            </li> 
           
        </ul>
        </div>
      </div>
      <li><button (click)="logout()" *ngIf="this.authService.isLoggedIn" type="button" class="nav-item mr-auto">Logout</button></li>
  </nav>
  
  <!-- <NavbarComponent>
    <div *ngIf="this.authService.isLoggedIn">
  
      <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <div class="container ">
      
        <ul class="nav  justify-content-start navbar-nav mr-auto navbar-tabs">
          
            <li class="nav-item" id="auth">
              <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
              </li>
            
              <li class="nav-item mr-auto">
              <a class="nav-link active" aria-current="page" routerLink="/projects">Projects</a> 
              </li>
              <li class="nav-item mr-auto">
              <a class="nav-link active" aria-current="page" routerLink="/profiles">Profiles</a>
              </li>
              <li class="nav-item mr-auto">
              <a class="nav-link active" aria-current="page" routerLink="/cohorts">Cohorts</a>
              </li>
              <li class="nav-item mr-auto">
              <a class="nav-link active" aria-current="page" routerLink="/styles">Technology</a>
              </li>
              <li class="nav-item mr-auto">
              <a class="nav-link active" aria-current="page" routerLink="/profile">My Profile</a>
              </li> 
          </ul>
          
        
  
        <ul class="nav justify-content-end navbar-nav navbar-right mr-auto ">
          <li class="nav-item" id="auth">
            <a class="nav-link active" aria-current="page" routerLink="/login">Login</a>
            </li>
            <li class="nav-item mr-auto">
            <a class="nav-link active" aria-current="page" routerLink="/signup">Sign up</a>
            </li>
        </ul>
      </div>
      
    
  </nav>
    </div>
  </NavbarComponent>
 
</body>

</html> 
 -->
