<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <title>Tracker</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nvbr">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">TRACKER</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
              </li>
              <li>
              <!-- <form class="d-flex" id="search">
                <input class="form-control me-2" id="searchh" type="search" placeholder="Search" aria-label="Search">
                <button class="input-group-text btn" type="submit"><i class="fas fa-search"></i></button>
              </form>-->
              </li>
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              <li class="nav-item" id="auth">
                <a class="nav-link active" aria-current="page" routerLink="/login">Login</a>
              </li>
              &nbsp;&nbsp;
              <li class="nav-item mr-auto">
                <a class="nav-link active" aria-current="page" routerLink="/signup">Sign up</a>
              </li>
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              <li class="nav-item mr-auto">
                <a class="nav-link active" aria-current="page" routerLink="/profile">My Profile</a>
              </li>
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;   
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;    
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;     
              <li class="nav-item mr-auto">
                <a class="nav-link active" aria-current="page" routerLink="/projects">Projects</a>
              </li>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <li class="nav-item mr-auto">
                <a class="nav-link active" aria-current="page" routerLink="/profiles">Students</a>
              </li>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <li class="nav-item mr-auto">
                <a class="nav-link active" aria-current="page" routerLink="/cohorts">Cohorts</a>
              </li>
              <!-- &nbsp;&nbsp;
              <li class="nav-item mr-auto">
                <a class="nav-link active" aria-current="page" routerLink="/styles">All Styles</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
</body>
</html>

