<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <title>Tracker</title>
</head>
<body>

  <nav id="navbar" class="nav-container">
    <ul class= "nav">
      <li class="nav-item" id="auth">
        <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
      <li class="nav-item" id="auth">
        <a class="nav-link active" aria-current="page" routerLink="/login">Login</a>
        </li>
        <li class="nav-item mr-auto">
        <a class="nav-link active" aria-current="page" routerLink="/signup">Sign up</a>
        </li>
        <li class="nav-item mr-auto">
        <a class="nav-link active" aria-current="page" routerLink="/projects">All Projects</a> 
        </li>
        <li class="nav-item mr-auto">
        <a class="nav-link active" aria-current="page" routerLink="/profiles">All Profiles</a>
        </li>
        <li class="nav-item mr-auto">
        <a class="nav-link active" aria-current="page" routerLink="/cohorts">All Cohorts</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link active" aria-current="page" routerLink="add-projects">Add Project</a>
        </li>
        <li class="nav-item mr-auto">
        <a class="nav-link active" aria-current="page" routerLink="/styles">All Styles</a>
        </li>
        <li class="nav-item mr-auto">
        <a class="nav-link active" aria-current="page" routerLink="/profile">My Profile</a>
        </li>
    </ul>
    
    <div id="mobileMenu" class="hambergur-menu">
      <span class="bar"></span>
    </div>
  </nav>
  <script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() 
{
  myFunction()
};

// Get the navbar
var navbar = document.getElementById("navbar");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
  } else {
      navbar.classList.remove("sticky");
  }
}

var mobileMenu = document.getElementById("mobileMenu");

mobileMenu.addEventListener("click", function(){
  document.querySelector(".nav").classList.toggle("open");
  document.querySelector(".hambergur-menu").classList.toggle("close");
});

function classToggle() {
  const navs = document.querySelectorAll('.navbar')
  
  navs.forEach(nav => nav.classList.toggle('navbar__ToggleShow'));
}

document.querySelector('.navbar__Link-toggle')
  .addEventListener('click', classToggle);
    </script>
</body>

</html>