[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cloudinary = "*"
django-registration = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-bootstrap4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
