<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div  class="homeimg" style="background-image: url('https://images.unsplash.com/photo-1537432376769-00f5c2f4c8d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c29mdHdhcmUlMjBkZXZlbG9wbWVudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');">
       
        <div class="row" >
            <div class="hometxt col-md-4">From the small stuff to the big picture, Asana organizes work so teams know what to do, why it matters, and how to get it.<br>Bring your team’s work together in one shared space. Choose the project view that suits your style, and collaborate no matter where you are.

            </div>
            <div class="col-md-6">
                <img src="/assets/images/homept.png" alt="landing image"  class="image">
            </div>
             
    </div>
   <a><button>Get started</button></a>
   <br>
   <br>
</div>
</body>
</html>