.container-fluid{
    background-color: #afb7b8;
    height: 80vh;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/assets/images/natalie-pedigo-wJK9eTiEZHY-unsplash.jpg); 
}