
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div>
            <!-- <h3>Sign up for free and get all your groups and personal projects tracked <br> No room to forget about your projects</h3> -->
            <img src="/assets/images/homept.png" alt="landing image"  class="image">
           <a href="/projects">projects </a>
        </div>
    </div>
    
</body>
</html>

