
.container-fluid{
    height: 100vh;
    justify-content: center;
  
    text-align: center;

}
.homeimg{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.image{
    display: block;
    margin: auto;
    padding-top: 15%;
}


h3{
    text-align: center;
    margin-bottom: 2%;
    padding-bottom: 10px;

}
.hometxt {
    padding-top:15%;
    color:rgb(202, 192, 187);
    font-size: 30px;
    align-items: center;
    margin-left: auto;
  }

  button {
    background-color: orange;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 10%;
    width: 15%;
    height:10% ;
    border-radius:10px;
    margin-top: 8%;
  }
  
  
  button:hover {
    background-color: aqua;
    color: white;
  }
  
  

