<div class="text-center container">
  <br>
  <br>
  <h1>Login</h1>

  <form [formGroup] = "myForm" (ngSubmit) = "onSubmit()">
    <div>
      <label for="email">Email</label>
      <input type="text" formControlName="email">
    </div>
    <br>
    <div>
      <label for="password">Password</label>
      <input type="password" formControlName="password">
    </div>
    <br>
    <button type="submit">Login</button>
  </form>

  <br>
  <p class="account">Don't have an account? <a routerlink="/signup">Sign up</a></p>
</div>
