<div class="d-flex">
    <div>
        <div>
            <Img src="https://images.unsplash.com/photo-1586281380117-5a60ae2050cc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cHJvamVjdCUyMG1hbmFnZW1lbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
        </div>
        
            <div class="form">
                
                  <form>
                    <div class="bcol">
                        <h1>Login</h1>
             
                          <div class="form-group">
                            <label for="email">Email</label><br>
                
                            <input type="text" name="email" class = "form-control" ngModel>
                
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label><br>
                
                            <input type="text" name="password" class = "form-control" ngModel>
                
                        </div>
                
          
        
                        <button class="btn" type="submit">Login</button>
                        <P class="account">Don't have an account? <a>Sign up</a></P>
                      </div>
                       
                           
                  </form>
          
  </div>
    <footer>
        <div class="form" id="info">
    
            <div class="form-group" id="contact">
                <label for="password">Contact Us</label><br>
    
                <input type="text" name="contact" class = "form-control" ngModel>
            </div>
            <button class="btn" type="submit">Send</button>
        
        </div>
        <div class="contact">
        <p>Contacts</p>
        <p>email:info@tracker.com</p>
        <p>goodhouse 4th flr</p>
        <p>020-123456</p>
    </div>
    </footer>
</div>
