<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrackerApp-DevModes</title>
</head>

<body>
  <br>

  <h1 style="text-align:center"><b> Dev Modes </b></h1>
  <br>
  <br>
  <div *ngFor= "let style of styles">
    <div class="container">
        <div class="card border-secondary" style="margin-bottom: 5rem;">
            <div class="card-header d-flex">
                <h3><b>{{style.name}}</b></h3>
                <br>
            </div>
            <br>

            <div class="container">
              <div *ngIf="style.description"><b>Description:</b> {{ style.description }}</div>  
              <br>
              <div *ngIf="style.projects"><b>Projects:</b>
                <ul>
                  <li *ngFor= "let project of style.projects">{{ project }}</li>
                  <br>
                </ul>
              </div> 
            </div>
        </div>
    </div>
  </div>
  <br>
  <br>

  <div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 item">
                    <ul>
                        <li routerLink="/projects">Projects</li>
                        <li routerLink="/profiles">Students</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <p>© 2021 Tracking</p>
                    <br>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <ul>
                        <li>Email: info@tracker.com</li>
                        <li>Goodhouse 4th flr</li>
                        <li>020-123456</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
  </div>
</body>
</html>
