<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cohort-Profile</title>
</head>

<body>
  <br>
  <br>
  <!-- <div class="container">
    <div class="container">
      <label for="filter"></label>
      <input id="filter" type="number" name="filter" placeholder="Cohort ID">
      <button class="btn btn-lg btn-success " onclick="filter()">Filter</button>
    </div>
  </div>
  <br>
  <hr>
  <br> -->

  <h1 style="text-align:center"><b>{{ cohort$ }}</b></h1>
  <br>
  <br>
  <!-- <div class="container">
    <div class="card" style="margin-bottom: 5rem;">
        <div class="card-header d-flex">
             <h3><b>{{cohort.name}}</b></h3>
            <br>
        </div>
        <br>

        <div class="container card-body">
          <div *ngIf="cohort.details"><b>Details:</b> {{ cohort.details }}</div>  
          <br>
           <div *ngIf="cohort.students"><b>Students:</b>
            <br>
            <ul>
              <li *ngFor= "let student of cohort.students">{{ student.user }}</li>
              <br>
            </ul>
          </div> 
          <br>
          <div *ngIf="cohort.projects">
            <div class="card" style="margin-bottom: 5rem;">
              <div class="card-header d-flex">
                <b>Projects</b>
                <br>
              </div>
              <div class="card-body">
                <br>
                <ul>
                  <li *ngFor= "let project of cohort.projects">{{ project }}</li>
                  <br>
                </ul>
              </div>
            </div>
          </div> 
        </div>
    </div>
  </div> -->
  <br>
  <br>

  <div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 item">
                    <ul>
                        <li routerLink="/projects">Projects</li>
                        <li routerLink="/profiles">Students</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <p>© 2021 Tracking</p>
                    <br>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <ul>
                        <li>Email: info@tracker.com</li>
                        <li>Goodhouse 4th flr</li>
                        <li>020-123456</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
  </div>
</body>
</html>