.form {
  background-image: url("https://images.unsplash.com/photo-1633113092754-523fd2d9a90c?ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  /* width: 100%; */
}

input{
  border-radius: 20px;
  width: 30%;
  height: 5vh;
}

label {
  margin: 10px auto;
  color: #ffa500;
  text-align: right !important;
  font-size: 26px;
}

.form-group{
  padding-top: 20px;
 align-items: center;
 text-align: center;
 width: 100%;
}
.bcol {
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #28c2c6;
  margin: 0px 20%;
  border-radius: 20px;

}

.descript{
  height: 40vh;
}