<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrackerApp-Students</title>
</head>

<body>
  <div class="container" id="container" style="margin-top: 5%;">

  <h1 style="text-align:center"><b> Students </b></h1>
  <hr>
  
  <div class="row">
    <div *ngFor= "let student of students" class="col-md-4">
    <div class="container">
      <br>
      <br>
        <div class="card" style="width: 18rem; height: 30rem;">
            <div class="card-header d-flex">
                <h3 style="text-align:center"><b>{{student.user}}</b></h3>
            </div>
            <img src="https://res.cloudinary.com/daxszmc6m/{{student.profile_pic}}"  class="card-img-top">
            <div class="card-body">
              <p class="card-text" *ngIf="student.first_name && student.surname"><b>Full Name:</b> {{ student.first_name }} {{ student.surname }}</p>
              
              <p class="card-text" *ngIf="student.cohort"><b>Cohort:</b> {{ student.cohort }}</p>  
              <p class="card-text" *ngIf="student.email"><b>Email:</b> {{ student.email }}</p> 
              
              <p class="card-text" *ngIf="student.bio"><b>Bio:</b> {{ student.bio }}</p> 
              <div *ngIf="student.projects_owned"><b>Projects Owned:</b>
                <ul>
                  <li *ngFor= "let project of student.projects_owned">{{ project }}</li>
                </ul>
              </div> 
              <div *ngIf="student.is_dev"><b>Member of:</b>
                <ul>
                  <li *ngFor= "let project of student.is_dev">{{ project }}</li>
                </ul>
              </div>
            </div>
            <div class="card-footer">    
             <a class="btn btn-lg btn-outline-success btn-block" href="{{student.github_profile}}" role="button">Github Profile</a>  
          </div>
        </div>
    </div>
  </div>
  </div>
  </div>
  <!-- <div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 item">
                    <ul>
                        <li routerLink="/projects">Projects</li>
                        <li routerLink="/profiles">Students</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <p>© 2021 Tracking</p>
                    <br>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <ul>
                        <li>Email: info@tracker.com</li>
                        <li>Goodhouse 4th flr</li>
                        <li>020-123456</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
  </div> -->
</body>
</html>
