<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrackerApp-Students</title>
</head>

<body>
  <br>
  <h1 style="text-align:center"><b> Students </b></h1>
  <br>
  <br>
  <div class="row">
    <div *ngFor= "let student of students" class="col-sm-4 mx-auto">
    <div class="container">
      <br>
      <br>
        <div class="card border-secondary">
            <div class="card-header d-flex">
                <h3 style="text-align:center"><b>{{student.user}}</b></h3>
            </div>
            <br>
            <div *ngIf="student.profile_pic" class="container card-img-top">
            <img src="https://res.cloudinary.com/daxszmc6m/{{student.profile_pic}}"  class="img-responsive">
            </div>
            <br>

            <div class="container card-body">
              <div *ngIf="student.first_name && student.surname"><b>Full Name:</b> {{ student.first_name }} {{ student.surname }}</div>
              <br>
              <div *ngIf="student.cohort"><b>Cohort:</b> {{ student.cohort }}</div>  
              <div *ngIf="student.email"><b>Email:</b> {{ student.email }}</div> 
              <br> 
              <div *ngIf="student.bio"><b>Bio:</b> {{ student.bio }}</div> 
              <br>
              <div *ngIf="student.projects_owned"><b>Projects Owned:</b>
                <br>
                <ul>
                  <li *ngFor= "let project of student.projects_owned">{{ project }}</li>
                  <br>
                </ul>
              </div> 
              <br>
              <br>
              <div *ngIf="student.is_dev"><b>Member of:</b>
                <br>
                <ul>
                  <li *ngFor= "let project of student.is_dev">{{ project }}</li>
                  <br>
                </ul>
              </div>
            </div>
            <br>
            <br>
            <div class="container card-footer">
              <div class="container">
                  <div class="container">
                    <br>
                      <a class="btn btn-lg btn-outline-success btn-block" href="{{student.github_profile}}" role="button">Github Profile</a>
                      <br>
                      <br>
                      <br>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
  </div>
  <br>
  <br>

  <div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 item">
                    <ul>
                        <li routerLink="/projects">Projects</li>
                        <li routerLink="/profiles">Students</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <p>© 2021 Tracking</p>
                    <br>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <ul>
                        <li>Email: info@tracker.com</li>
                        <li>Goodhouse 4th flr</li>
                        <li>020-123456</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
  </div>
</body>
</html>
