<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
  <br>
  <hr>
  <br>

  <h1 style="text-align:center"><b> User Data </b></h1>
  <br>
  <br>
  <div>
      <br>
      <br>
      <p>ID: {{ user.id }}</p>
      <p>Username: {{ user.username }}</p>
      <p *ngIf="user.email">Email: {{ user.email }}</p>  
      <p *ngIf="user.is_verified">Is verified: {{ user.is_verified }}</p>
      <p *ngIf="user.is_active">Is active: {{ user.is_active }}</p>  
      <p *ngIf="user.is_staff">Is staff: {{ user.is_staff }}</p>  
      <p *ngIf="user.created_at">Created at: {{ user.created_at }}</p> 
      <p *ngIf="user.updated_at">Updated at: {{ user.updated_at }}</p>
      <p *ngIf="user.auth_provider">Auth Provider: {{ user.auth_provider }}</p>  
      <br>       
  </div>

  <br>
  <hr>
  <br>

  <h1 style="text-align:center"><b> My Profile </b></h1>
  <br>
  <br>
  <div>
      <br>
      <br>
      <p>Username: {{ profile.user }}</p>
      <p *ngIf="profile.first_name"> First Name: {{ profile.first_name }}</p>  
      <p *ngIf="profile.surname"> Surname: {{ profile.surname }}</p>
      <p *ngIf="profile.cohort"> Cohort: {{ profile.cohort }}</p>  
      <p *ngIf="profile.email"> Email: {{ profile.email }}</p>  
      <p *ngIf="profile.bio"> Bio: {{ profile.bio }}</p> 
      <p *ngIf="profile.projects_owned"> Projects: {{ profile.projects_owned }}</p> 
  </div>
  <br>
  <hr>
  <br>
</body>
</html>
