<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project-Profile</title>
</head>
<body>
    <br>
    <br>
    <div class="container">
        <br>
        <div class="card" style="margin-bottom: 5rem;">
            <div class="card-header d-flex">
                <h3><b>{{project.title}}</b></h3>
                <br>
            </div>
            <div *ngIf="project.project_image" class="container">
                <br>
                <img src="https://res.cloudinary.com/daxszmc6m/{{project.project_image}}"  class="img-responsive">
                <br>
            </div>
            <div class="container">
                <div *ngIf="project.owner"><b>Owner:</b> {{project.owner.user}}</div>
                <br>
                <div *ngIf="project.cohort"><b>Cohort:</b> {{project.cohort}}</div>
                <div *ngIf="project.style"><b>Development Mode:</b> {{project.style}}</div>
                <br>
                <div *ngIf="project.description"><b>Description:</b> {{project.description}}</div>
                <br>
                <div *ngIf="project.date" class="text-muted"><b>Date:</b> {{project.date}}</div>
                <br>
                <a *ngIf="project.github_link" href="{{project.github_link}}"><b>Github Link</b></a>
                <br>
                <br>
                <div *ngIf="project.members"><b>Project Members:</b>
                    <br>
                    <ul>
                      <li *ngFor= "let member of project.members">{{ member.user }}</li>
                    </ul>
                </div> 
                <br>
                <br>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 item">
                        <ul>
                            <li>API</li>
                            <li>Projects</li>
                            <li>Students</li>                           
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-4 item">
                        <p>© 2021 Tracking</p>
                        <br>
                        <br>
                    </div>
                    <div class="col-sm-6 col-md-4 item">
                        <ul>
                            <li>Email: info@tracker.com</li>
                            <li>Goodhouse 4th flr</li>
                            <li>020-123456</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
      </div>

</body>
</html> 
